.cardWrapper{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.card{
    width: 100%;
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    border: 1px solid rgb(183, 183, 183);
    border-radius: 6px;
    box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.79);
   -webkit-box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.79);
   -moz-box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.79);
}
.cardTop{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.cartTopLeft{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}
.postOptions{
    width: 160px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    color: rgb(230, 230, 230);
    background-color: rgb(26, 26, 26);
    border: 1px solid rgb(86, 86, 86);
    border-radius: 10px;
    position: absolute;
    top: 40px;
    right: 20px;
}
.postOption{
    width: 100%;
    border-bottom: 1px solid grey;
    margin-bottom: 8px;
    cursor: pointer;
}
.postedBy{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 1px solid grey;
    margin-bottom: 8px;
    cursor: pointer;
}
.postOptionRed{
    color: red;
    cursor: pointer;
}
.postUserImg{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}
.postUser{
    font-size: 16px;
    margin-left: 12px;
    margin-bottom: 4px;
}
.postDate{
    align-self: left;
    color: grey;
    font-size: 12px;
    margin-left: 8px;
}
.moreIcon{
    font-size: 20px;
    color: rgb(88, 88, 88);
    cursor: pointer;
}
.cardBody{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid rgb(186, 186, 186);
}
.postImg{
    width: 100%;
    height: 350px;
    text-align: center;
    font-size: 12px;
    color: rgb(150, 150, 150);
    align-self: center;
    object-fit: cover;
    overflow: hidden;
}
.noImg{
    height: 50px;
    border: .5px solid grey;
}
.postContent{
    margin-top: 8px;
    color: rgb(85, 85, 85);
    font-size: 14px;
}
.cardBottom{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
}
.iconDiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}
.iconWrapper{
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}
.likeIconSpan:hover{
    background-color: rgb(166, 204, 253);
}
.likeIcon{
    font-size: 18px;
    color: rgb(0, 149, 255);
}
.likedIcon{
    font-size: 24px;
    color: rgb(0, 149, 255);
}
.commentIconSpan:hover{
    background-color: rgb(255, 187, 175);
}
.commentIcon{
    font-size: 18px;
    color: tomato;
}
.commentSpan{
    cursor: pointer;
}
.commentSpan:hover{
    color: #5293e4;
}
.commentForm{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 8px;
}
.inputWrapper{
    display: flex;
    padding: 6px;
}
.commentInput{
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid rgb(180, 180, 180);
    outline: none;
}
.commentInput:focus{
    outline: none;
    border-bottom: 1px solid #1775e5;
}
.buttonWrapper{
    flex: 1;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.commentButton{
    height: 32px;
    width: 70px;
    padding: 8px;
    border-radius: 8px;
    font-size: 14px;
    background-color: inherit;
    color: rgb(0, 149, 255);
    border: 1px solid rgb(0, 149, 255);
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.commentButton:focus{
    outline: none;
}
.commentButton:hover{
    color: #fff;
    border: 1.5px solid #5293e4;
    background-color: #5293e4;;
}


.commmentUp{
    position: relative;
    color: tomato;
    top: 20px;
    left: -50px;
}
.comments{
    /* max-height: 180px;
    overflow-y: scroll; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid rgb(249, 122, 100);
    border-radius: 8px;
}
.comments::-webkit-scrollbar{
    width: 3.5px;
}
.comments::-webkit-scrollbar-track{
    background-color: transparent;
}
.comments::-webkit-scrollbar-thumb{
    background-color: rgb(255, 200, 190);
    border-top-left-radius: 10%;
}
.close{
    align-self: flex-start;
    font-size: 13px;
    margin-left: 10px;
    color: rgb(86, 86, 86);
    cursor: pointer;
}
.noComments{
    text-align: center;
    font-size: 14px;
    color: #1775e5;
}
.comment{
    width: 100%;
    margin-top: 5px;
    padding: 8px 14px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    /* border-bottom: 1px solid rgb(160, 160, 160); */
    transition: all .3s ease-in;
}
.commentHead{
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(179, 179, 179);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.commentUser{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    font-size: 14px;
    color: rgb(100, 100, 100);
}
.commentImage{
    width: 22px;
    height: 22px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 6px;
}
.commentDate{
    color: grey;
    font-size: 12px;
}
.commentBody{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    font-size: 13px;
    color: rgb(60, 60, 60);
}
.deleteComment{
    cursor: pointer;
    color: #fe6e6e;
}

/***** Mobile View *****/

@media (max-width: 480px) {
    .card{
        padding: 6px;
        width: 100%;
    }
    .cardTop{
        padding: 6px;
    }
    .postUserImg{
        width: 32px;
        height: 32px;
    }
}
