.registerWrapper, .profileWrapper, .forgotWrapper{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.bg{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    background-color: #1775e5;
    color: #fff;
    font-size: 30px;
}
.title{
    position: sticky;
    top: 50px;
    z-index: 2;
}
.register, .profile, .forgotForm{
    width: 50%;
    margin-top: 50px;
    margin-bottom: 16px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: 1px solid transparent;
    position: relative;
}
.forgotForm{
    height: calc(100vh - 228px);
    margin: 20px;
}
.register:hover, .profile:hover, .forgotForm:hover{
    border: 1px solid #1775e7;
}
.loginLink{
    margin-top: 10px;
    padding: 10px;
    color: grey;
    font-size: 14px;
}
.linkText{
    font-size: 16px;
    margin-left: 5px;
    color: #1775e5;
    cursor: pointer;
}

/***** Mobile View *****/

@media (max-width: 480px) {
    .bg{
        height: 90px;
    }
    .register, .forgotForm, .profile{
        width: 90%;
    }
    .forgotForm{
        width: 95%;
    }
}
