.registerWrapper{
    /* height: calc(100vh); */
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profileWrapper{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bg{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    background-color: #1775e5;
    color: #fff;
    font-size: 32px;
}
.title{
    position: sticky;
    top: 50px;
    z-index: 10;
}
.register, .profile{
    width: 50%;
    margin-top: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: 1px solid transparent;
    position: relative;
}
.register:hover{
    border: 1px solid #1775e7;
}
.loginLink{
    margin-top: 10px;
    padding: 10px;
    color: grey;
    font-size: 14px;
}
.linkText{
    font-size: 16px;
    margin-left: 5px;
    color: #1775e5;
    cursor: pointer;
}